[Desktop Entry]
Name=Camera Background Remover
Name[ru]=Удаление фона с камеры
Name[vn]=Xóa phông nền
Exec=camera-background-remover-gui
Icon=kde
Type=Application
Terminal=false
Categories=Utility
